---
layout: default
---

<article class="page container">
  <header class="page-header">
    <h1 class="page-title">{{ page.title }}</h1>
  </header>
  <div class="page-content">
    {{ content }}

    <div id="archives">
    {% for category in site.categories %}
      
  <div class="archive-group">
    {% capture category_name %}{{ category | first }}{% endcapture %}
    <div id="#{{ category_name | slugize }}"></div>
    <p></p>
    
    <h3 class="category-head">{{ category_name }}</h3>
    <a name="{{ category_name | slugize }}"></a>
  </div>
{% endfor %}
</div>

    <form method="POST" action="https://formspree.io/2334590d@student.gla.ac.uk">
  <input type="email" name="email" placeholder="Your Email">
  <textarea name="message" placeholder="Honest > Nice > Nasty"></textarea>
  <button type="submit">📮</button>
  
</form>
  </div>
</article>
